html, body {
  box-sizing: border-box;
  background-color: #fff;
}

* {
  box-sizing: inherit;
}

.survey-container {
  margin: 40px;
}

#acom-logo {
  width: 25%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 30px;

}

.pageTitle {
  font-size: 35px;
  text-align: center;
}

.intro {
  margin-bottom: 20px;
}

.thankyou p {
  text-align: center;
}

input:invalid {
  border: 1px dashed red;
}
